label.error {
	color: #ff0000;
	font-weight: bold;
}
#form_ok{
	display: none;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
}
#form_ok #your_name{
	color: #ff0000;
}
.mark, mark {
    padding: .2em;
    background-color: transparent;
}
.dnt-captcha input {
    width: 33px;
    height: 33px;
    margin-bottom: 2px;
    border: 2px solid #000;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    font-family: arial;
}